.sidenav-container {
    height: 10vh;
    position: sticky;
    top:0;
  }
  
  .sidenav {
    width: 100px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  
  .mat-toolbar {
    height: 50px;
    font-size:16px;
  }
  .buynow{
    display: flex;
    justify-content: flex-start;
  }
  
  
  